* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", "Sen", serif;
}

:root {
    --primary: #ffb900;
    --fonts-heading: "Sen", serif;
}

/* common */
.line-clamp {
    display: --webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.break-all {
    word-break: break-all;
}

.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    min-width: 118px;
    line-height: 50px;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}
/* header */
.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header {
    background: #fffcf4;
}

.header .row {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
    color: #5f5b53;
    padding: 8px 21px;
}
.nav a:hover,
.nav .active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav .active a::after {
    left: 21px;
    bottom: 6px;
    position: absolute;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}
/* hero */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

/* hero left */

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: baseline;
}

.hero-summary {
    position: absolute;
    bottom: 48px;
    right: 0;
    background: #ffffff;
    box-shadow: 0px 16px 32px 0px #0000000d;
    border-radius: 12px;
    width: 270px;
    padding: 24px;
}

.hero-summary .item {
    margin-top: 22px;
    display: flex;
    align-items: center;
}

.hero-summary .icon {
    margin-right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff9e8;
}

.hero-summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}

.hero-summary .label {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

/* hero right */

.hero .content-block {
    width: 52%;
    padding-left: 130px;
    margin-top: 64px;
}

.content-block .heading {
    color: #171100;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17; /* 117.241% */
    letter-spacing: -0.02em;
    font-family: var(--fonts-heading);
}

.content-block .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.content-block .cta-group {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.hero-cta {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary);
}

.hero .watch-video {
    border: none;
    margin-left: 28px;
    background: #fffcf4;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero span {
    color: #171100;
    margin-left: 16px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.content-block .desc {
    margin-top: 48px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.content-block .stats strong {
    padding-right: 8px;
    color: #171100;
    font-family: var(--fonts-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22; /* 122.727% */
}

.content-block .stats strong:nth-of-type(2) {
    margin-left: 28px;
}

.hero .stats {
    margin-top: 8px;
}

/* popular */

.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular .popular-top .heading {
    color: #171100;
    font-family: var(--fonts-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}

.popular .popular-top .desc {
    margin-top: 16px;
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}
.popular-top {
    display: flex;
    align-items: center;
}

.popular-top .controls {
    margin-left: auto;
    display: flex;
    gap: 18px;
}

.popular-top .controls .control-btn {
    border: 1px solid var(--primary);
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
}

.popular-top .controls .control-btn:nth-of-type(2) {
    transform: rotate(180deg);
}

.popular-top .controls .control-btn:hover {
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;
}

.popular .course-list {
    margin-top: 55px;
    gap: 30px;
    display: flex;
}

.popular .course-list .course-item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}

.popular .course-list .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-list .thumb {
    cursor: pointer;
    width: calc(100% + 2px);
    margin: -1px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-item .info .head {
    display: flex;
    justify-content: space-between;
}

.popular .head .title {
    padding-right: 6px;
    cursor: pointer;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.popular .head .rating {
    display: flex;
    align-items: center;
}

.popular .head .rating .value {
    margin-left: 6px;
    color: var(--primary);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.popular .info .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.popular .info .action {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .info .action strong {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.popular .info .action .btn {
    border: none;
}

.popular .info .action .btn:hover {
    background: var(--primary);
    color: #fff;
}

/* feedback */

.feedback {
    margin-top: 135px;
    background: #2e2100;
    padding: 96px 0;
}

.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    display: flex;
    gap: calc(100% - 82%);
}

.feedback .feedback-info .avatar {
    vertical-align: bottom;
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}
.feedback .feedback-info .title {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--fonts-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41; /* 141.667% */
    white-space: nowrap;
}

.feedback .feedback-info .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
    white-space: nowrap;
}

.feedback .feedback-info .dots {
    display: flex;
    margin-top: 28px;
    cursor: pointer;
}

.feedback .feedback-info .dots-icon {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.feedback .feedback-info .dots-icon.active {
    background-color: var(--primary);
}

.feedback .feedback-content .desc {
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53; /* 153.846% */
}

.feedback .label {
    margin-left: -28px;
}

/* course-content */
.grid-container {
    padding: 200px 0;
    background: #fff;
}

/* row - 1 */

.grid-container .row {
    display: grid;
    display: flex;
    grid-template-columns: 1fr 1fr;
}

.grid-container .row .content-image {
    display: flex;
    gap: 30px;
    margin-right: 130px;
}

.grid-container .row .content-image .image {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.grid-container .row .image.image-2 {
    margin-top: -34px;
}

.grid-container .content-block .title {
    color: #171100;
    font-family: var(--fonts-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}

.grid-container .content-block .script {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.grid-container .content-block .note {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.grid-container .content-block .btn-content {
    margin-top: 32px;
    min-width: 137px;
    background: var(--primary);
}

/* row 2 */

.grid-container .row-2 {
    margin-top: 200px;
    display: flex;
    align-items: center;
    gap: 130px;
}

.grid-container .row-2 .image-group {
    object-fit: cover;
    border-radius: 20px;
    width: 470px;
    height: 440px;
}

.grid-container .row-2 .title-2 {
    width: 570px;
}

/* Blog */

.Blog {
    padding: 96px 0;
    background: #fffcf4;
}

.Blog .blog-top {
    text-align: center;
}

.Blog .blog-top .sub-title {
    color: #130606;
    font-family: var(--fonts-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}

.Blog .blog-top .desc {
    margin-top: 16px;
    width: 448px;
    text-align: center;
    display: inline-block;
    color: #696262;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.Blog .course-list {
    padding: 55px 0;
    display: flex;
    gap: 30px;
}

.Blog .course-item .thumb {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.Blog .course-item .info {
    padding: 20px 20px 28px 28px;
}

.Blog .course-item .schedule {
    display: flex;
    align-items: center;
}

.Blog .course-item:hover {
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.Blog .course-item .icon {
    margin-top: -25px;
    margin-right: 4px;
    display: block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: var(--primary);
}

.Blog .course-item .script {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.75;
    color: #5f5b53;
}

.Blog .course-item .script::after {
    content: "";
    display: block;
    margin: 12px 0;
    height: 1px;
    width: 160px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.Blog .course-item .desc {
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.Blog .btn {
    margin-top: 12px;
}

.Blog .btn:hover {
    background: var(--primary);
}

.Blog .dots {
    display: flex;
    justify-content: center;
}

.Blog .dot {
    margin-left: 6px;
    display: block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: #5f5b53;
}

.Blog .dot:nth-of-type(2) {
    background: var(--primary);
}

/* footer */

.footer {
    padding: 96px 0;
    background: #2e2100;
}

.footer .total {
    display: flex;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer .list .logo {
    color: #fff;
    font-family: var(--fonts-heading);
    font-size: 2.4rem;
    font-weight: 700;
}

.footer .list .desc-list {
    width: 267px;
    word-break: break-all;
    margin-top: 18px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.footer .list .icon {
    margin-top: 18px;
}

.footer .list .icon .branch {
    margin-right: 12px;
}

.footer .list .head {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.footer .list .head::after {
    content: "";
    display: block;
    width: 130px;
    height: 1px;
    background: #59554B;
    margin: 14px 0 28px;
}

.footer .list .item {
    margin-top: 12px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}


.footer .list .desc strong {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85; /* 185.714% */
}

.footer .list .desc {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.footer .list .desc:nth-of-type(1) {
    width: 231px;
}

.footer .list .desc:nth-of-type(2) {
    margin: 12px 0;
}

.footer .script {
    color: #807d74;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.footer .script::before {
    content: "";
    margin: 28px 0;
    background: #59554b;
    display: block;
    width: 1170px;
    height: 1px;
}

.footer .list:nth-of-type(1) {
    margin-right: 145px;
}